{% extends "blog_base.html" %}
{% block title %}博客索引{% endblock %}
{% block content %}
    <div class="post-group">
        <ul class="post-group-head">博客列表</ul>
        <ul class="post-list-group">
            {%- for html in g.HTML_LIST %}
                <li>
                    <div class="post-info-group">
                        <p class="post-title">
                            <a href="{{ url_for('show_blog', blog_file=html) }}">{{html|html_title}}</a>
                        </p>
                        <p class="post-summary">
                            {{ html|html_summary|striptags|truncate(120) }}
                        </p>
                        <p class="post-info">
                            <span>更新时间：{{ html|html_time }}</span>
                            <span>字数：{{ html|html_content|striptags|wordcount }}</span>
                        </p>
                    </div>
                </li>
            {% endfor %}
        </ul> <!-- 帖子列表 -->
    </div>
{% endblock %}
